<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<ul class="unordered-list">
    <li class="unordered-list-item">UL list text</li>
    <li class="unordered-list-item">UL list text</li>
    <li class="unordered-list-item">UL list text
        <ul class="unordered-list">
            <li class="unordered-list-item">UL list text</li>
            <li class="unordered-list-item">UL list text</li>
            <li class="unordered-list-item">UL list text</li>
            <li class="unordered-list-item">UL list text</li>
            <li class="unordered-list-item">UL list text</li>
        </ul>
    </li>
    <li class="unordered-list-item">UL list text</li>
    <li class="unordered-list-item">UL list text</li>
</ul>

<ol class="ordered-list">
    <li class="ordered-list-item">OL list text</li>
    <li class="ordered-list-item">OL list text</li>
    <li class="ordered-list-item">OL list text</li>
    <li class="ordered-list-item">OL list text</li>
    <li class="ordered-list-item">OL list text</li>
</ol>

<table>
    <caption>
        Table Heading
    </caption>
    <tr>
        <th>Currency</th>
        <th>Cost</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>cellcellcellcellcellcellcellcellcellcell</td>
        <td class="cell-top">cell</td>
        <td>cell</td>
        <td>cell</td>
    </tr>
    <tr>
        <td>cell</td>
        <td class="cell-bottom">cell</td>
        <td>cell</td>
        <td>cell</td>
    </tr>
    <tr>
        <td>cell</td>
        <td>cell</td>
        <td colspan="2">cell</td>
    </tr>
    <tr>
        <td rowspan="2">cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
    </tr>
    <tr>
        <td>cell</td>
        <td class="cell-no-padding">
            <input text="text" placeholder="Введите текст"></td>
        <td>cell</td>
    </tr>
    <tr>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
    </tr>
</table>

<div class="table">
    <div class="table-caption">DIV table caption</div>
    <div class="table-row">
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
    </div>
    <div class="table-row">
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
    </div>
    <div class="table-row">
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
    </div>
    <div class="table-row">
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
    </div>
    <div class="table-row">
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
    </div>
    <div class="table-row">
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
        <div class="table-cell">div cell</div>
    </div>
</div>

<ul class="menu">
    <li class="menu-item">Товары</li>
    <li class="menu-item big">Усуги</li>
    <li class="menu-item">Доставка</li>
</ul>

</body>
</html>