<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рабочие обязанности</title>
    <link rel="stylesheet" href="styleresume.css">
</head>
<body>
<h1>Реализация рабочих обязанностей</h1>

<p>

<div style="font-size: 19px">
    <span>Должность: Индивидуальный предприниматель</span>
    <br>Реализация: ОКВЭД 63.11.1
</div>

</p>

<p>

<div class="realization2">
    <span>Должность: Санитар</span>
    <br> Реализация: ассистирование врачам при проведении экспертиз и исследований;

    <br>бальзамирование, гримирование, бритьё и другие парамедицинские услуги,

    <br>погрузочно-разгрузочные работы

</div>

</p>

<p>
<div class="realization3">
    <span>Должность: Юрист, Юрисконсульт, Ведущий специалист</span>
    <br>Реализация: составление и корректировка договоров, участие в процессах
    <br> судов общей юрисдикции и арбитражных судов, открытие филиалов и представительств,
    <br> взаимодействие с органами государственной власти,
    <br> профилактика правовых рисков в деятельности организаций
</div>

</p>

</body>
</html>