<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur, cumque dolore fuga quas
    quibusdam quod tempora unde veritatis? Animi atque cumque dicta dignissimos doloremque dolorum eos esse, ex facere
    illo iste minus molestiae molestias nulla odit, quo reprehenderit sed similique unde voluptatem. Alias consectetur
    deleniti iste laudantium, nesciunt sed vel velit. A aliquam aut blanditiis consectetur corporis culpa cum cupiditate
    eaque exercitationem expedita illo in itaque labore laboriosam laborum magnam natus, nostrum numquam officia placeat
    possimus quod repellat reprehenderit sed tempore, veritatis voluptas voluptatem. Ab blanditiis dolores et illo
    laborum mollitia quos ratione repellat similique ut! Ad delectus, quasi?
</div>

<div class="article clearfix">
    <img src="https://99.img.avito.st/640x480/4315086399.jpg" alt="cat">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aspernatur blanditiis consequatur cumque distinctio
        dolor dolorem ducimus ea earum eos id magni molestias mollitia natus nemo nulla odit officia, optio quas quasi
        tempora ullam vero! A adipisci cumque iusto nesciunt nihil nobis quaerat quos repellat repudiandae? Alias beatae
        corporis deleniti explicabo fuga id ipsam rem saepe tenetur velit? Ab aliquid eveniet, exercitationem explicabo
        facilis fugiat itaque laudantium maiores molestias necessitatibus nisi nostrum obcaecati quod rerum saepe sed vitae,
        voluptate voluptatem. Aliquam eum ipsa ipsum optio porro quia vel vero voluptatibus! Ab adipisci autem deleniti
        dolor dolores ea esse ipsa iure labore magnam magni natus nobis nostrum officiis quaerat quos, repellendus, unde
        vitae voluptate, voluptates! Aliquid eaque eius illum maxime natus omnis quae quam quibusdam, vel vitae? Ab at dicta
        esse nesciunt nihil quod rem, reprehenderit? Architecto at deserunt eaque est eveniet fugiat incidunt ipsa ipsum
        laudantium libero magnam magni maxime minima molestias necessitatibus non officia optio, porro provident quae quam
        quos rem sequi, soluta tempora unde voluptatem. Est excepturi, ipsa mollitia nisi ratione velit voluptatibus. A ab
        accusamus alias aliquid amet consequuntur eum exercitationem labore nam. Beatae debitis illo omnis, sed tempora
        tempore veritatis. Aspernatur distinctio molestiae praesentium sunt veniam.</p>
</div>

<div class="article clearfix">
    <img src="https://99.img.avito.st/640x480/4315086399.jpg" alt="cat">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aspernatur blanditiis consequatur cumque distinctio
        dolor dolorem ducimus ea earum eos id magni molestias mollitia natus nemo nulla odit officia, optio quas quasi
        tempora ullam vero! A adipisci cumque iusto nesciunt nihil nobis quaerat quos repellat repudiandae? Alias beatae
        corporis deleniti explicabo fuga id ipsam rem saepe tenetur velit? Ab aliquid eveniet, exercitationem explicabo
        facilis fugiat itaque laudantium maiores molestias necessitatibus nisi nostrum obcaecati quod rerum saepe sed vitae,
        voluptate voluptatem. Aliquam eum ipsa ipsum optio porro quia vel vero voluptatibus! Ab adipisci autem deleniti
        dolor dolores ea esse ipsa iure labore magnam magni natus nobis nostrum officiis quaerat quos, repellendus, unde
        vitae voluptate, voluptates! Aliquid eaque eius illum maxime natus omnis quae quam quibusdam, vel vitae? Ab at dicta
        esse nesciunt nihil quod rem, reprehenderit? Architecto at deserunt eaque est eveniet fugiat incidunt ipsa ipsum
        laudantium libero magnam magni maxime minima molestias necessitatibus non officia optio, porro provident quae quam
        quos rem sequi, soluta tempora unde voluptatem. Est excepturi, ipsa mollitia nisi ratione velit voluptatibus. A ab
        accusamus alias aliquid amet consequuntur eum exercitationem labore nam. Beatae debitis illo omnis, sed tempora
        tempore veritatis. Aspernatur distinctio molestiae praesentium sunt veniam.</p>
</div>

<div class="article clearfix">
    <img src="https://99.img.avito.st/640x480/4315086399.jpg" alt="cat">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aspernatur blanditiis consequatur cumque distinctio
        dolor dolorem ducimus ea earum eos id magni molestias mollitia natus nemo nulla odit officia, optio quas quasi
        tempora ullam vero! A adipisci cumque iusto nesciunt nihil nobis quaerat quos repellat repudiandae? Alias beatae
        corporis deleniti explicabo fuga id ipsam rem saepe tenetur velit? Ab aliquid eveniet, exercitationem explicabo
        facilis fugiat itaque laudantium maiores molestias necessitatibus nisi nostrum obcaecati quod rerum saepe sed vitae,
        voluptate voluptatem. Aliquam eum ipsa ipsum optio porro quia vel vero voluptatibus! Ab adipisci autem deleniti
        dolor dolores ea esse ipsa iure labore magnam magni natus nobis nostrum officiis quaerat quos, repellendus, unde
        vitae voluptate, voluptates! Aliquid eaque eius illum maxime natus omnis quae quam quibusdam, vel vitae? Ab at dicta
        esse nesciunt nihil quod rem, reprehenderit? Architecto at deserunt eaque est eveniet fugiat incidunt ipsa ipsum
        laudantium libero magnam magni maxime minima molestias necessitatibus non officia optio, porro provident quae quam
        quos rem sequi, soluta tempora unde voluptatem. Est excepturi, ipsa mollitia nisi ratione velit voluptatibus. A ab
        accusamus alias aliquid amet consequuntur eum exercitationem labore nam. Beatae debitis illo omnis, sed tempora
        tempore veritatis. Aspernatur distinctio molestiae praesentium sunt veniam.</p>
</div>

<div class="article clearfix">
    <img src="https://99.img.avito.st/640x480/4315086399.jpg" alt="cat">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aspernatur blanditiis consequatur cumque distinctio
        dolor dolorem ducimus ea earum eos id magni molestias mollitia natus nemo nulla odit officia, optio quas quasi
        tempora ullam vero! A adipisci cumque iusto nesciunt nihil nobis quaerat quos repellat repudiandae? Alias beatae
        corporis deleniti explicabo fuga id ipsam rem saepe tenetur velit? Ab aliquid eveniet, exercitationem explicabo
        facilis fugiat itaque laudantium maiores molestias necessitatibus nisi nostrum obcaecati quod rerum saepe sed vitae,
        voluptate voluptatem. Aliquam eum ipsa ipsum optio porro quia vel vero voluptatibus! Ab adipisci autem deleniti
        dolor dolores ea esse ipsa iure labore magnam magni natus nobis nostrum officiis quaerat quos, repellendus, unde
        vitae voluptate, voluptates! Aliquid eaque eius illum maxime natus omnis quae quam quibusdam, vel vitae? Ab at dicta
        esse nesciunt nihil quod rem, reprehenderit? Architecto at deserunt eaque est eveniet fugiat incidunt ipsa ipsum
        laudantium libero magnam magni maxime minima molestias necessitatibus non officia optio, porro provident quae quam
        quos rem sequi, soluta tempora unde voluptatem. Est excepturi, ipsa mollitia nisi ratione velit voluptatibus. A ab
        accusamus alias aliquid amet consequuntur eum exercitationem labore nam. Beatae debitis illo omnis, sed tempora
        tempore veritatis. Aspernatur distinctio molestiae praesentium sunt veniam.</p>
</div>

</body>
</html>