<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Туризм</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div class="australia-america">Дикие места Австралии и Южной Америки</div>
<div class="animals">Ядовитые змеи, опасные пауки, голодные крокодилы</div>
<div class="text-bold">Сотни миль вдали от цивилизации</div>
<div class="text-bold">Один на один с хищной природой</div>
<div class="text-bold">Риск встретить племена охотников на людей</div>
<div class="invite"><i>Если хочешь риска, незабываемых впечатлений и адреналина, звони в</i></div>

<h1>Клуб искателей приключений на свою задницу</h1>

<p class="allinclusive">Всё включено. Команде предоставляют проводника и охрану</p>

<div class="croco"></div>

<div class="snake"></div>

</body>
</html>

