<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

    <div class="cards clearfix">
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet assumenda distinctio harum
                magnam
                neque quae quam qui voluptas? Consectetur eligendi enim eum id magnam maiores nam necessitatibus, odit,
                quibusdam sed tempora veniam? Ab accusantium beatae, consequuntur, dolore eos et expedita facilis
                laborum
                maiores nostrum quia, repudiandae sunt temporibus vel vitae? Aspernatur assumenda consequuntur expedita
                itaque neque. Aut autem deleniti doloremque dolores earum, ex, ipsa magni quae quam quasi qui quo
                recusandae
                rem tempore ut. Earum enim illo, minima modi officia optio veritatis voluptatibus. A debitis, harum
                numquam
                pariatur tempore voluptatem. Autem corporis dolor id obcaecati odit quod quos reiciendis!</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugiat iusto natus nesciunt tempore.
                Cumque eveniet ex laboriosam maiores tenetur vitae voluptatum! Aliquam architecto consectetur delectus,
                earum expedita harum illo illum impedit nemo placeat quisquam sed? Animi aspernatur doloremque doloribus
                ducimus, eos eveniet facilis harum hic illum inventore, ipsa iste labore maiores nobis perspiciatis
                possimus
                quasi repellat reprehenderit repudiandae suscipit temporibus totam voluptate. A accusamus alias,
                blanditiis
                cumque, delectus eius exercitationem in inventore qui rem, repellendus sit sunt vero. A accusamus
                adipisci
                aliquid autem cupiditate ea enim error esse est eum exercitationem explicabo id iusto laboriosam magni
                modi
                neque nobis nostrum omnis optio quae quaerat quidem quos recusandae, saepe sint tempora temporibus totam
                vel
                veniam vero, vitae voluptate voluptatem! Ad amet aspernatur at cupiditate dicta dolorem facere facilis
                fuga
                fugiat id iure magni modi natus neque, nulla quae quaerat quo ratione recusandae repellat sint soluta
                sunt
                tempora veniam voluptas. Corporis cupiditate ea est nostrum quibusdam, tempora vero! Ad architecto
                aspernatur dicta, dolor dolore excepturi maxime necessitatibus odit officiis quaerat quia ut velit
                voluptas.
                Commodi culpa debitis deleniti dicta fugiat illum inventore iusto laboriosam magni maxime nesciunt nisi
                nostrum nulla praesentium, quasi quidem quo quos reprehenderit repudiandae sapiente similique velit
                voluptatibus.</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
    </div>

    <hr>

    <div class="cards cards-display-inline">
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet assumenda distinctio harum
                magnam
                neque quae quam qui voluptas? Consectetur eligendi enim eum id magnam maiores nam necessitatibus, odit,
                quibusdam sed tempora veniam? Ab accusantium beatae, consequuntur, dolore eos et expedita facilis
                laborum
                maiores nostrum quia, repudiandae sunt temporibus vel vitae? Aspernatur assumenda consequuntur expedita
                itaque neque. Aut autem deleniti doloremque dolores earum, ex, ipsa magni quae quam quasi qui quo
                recusandae
                rem tempore ut. Earum enim illo, minima modi officia optio veritatis voluptatibus. A debitis, harum
                numquam
                pariatur tempore voluptatem. Autem corporis dolor id obcaecati odit quod quos reiciendis!</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugiat iusto natus nesciunt tempore.
                Cumque eveniet ex laboriosam maiores tenetur vitae voluptatum! Aliquam architecto consectetur delectus,
                earum expedita harum illo illum impedit nemo placeat quisquam sed? Animi aspernatur doloremque doloribus
                ducimus, eos eveniet facilis harum hic illum inventore, ipsa iste labore maiores nobis perspiciatis
                possimus
                quasi repellat reprehenderit repudiandae suscipit temporibus totam voluptate. A accusamus alias,
                blanditiis
                cumque, delectus eius exercitationem in inventore qui rem, repellendus sit sunt vero. A accusamus
                adipisci
                aliquid autem cupiditate ea enim error esse est eum exercitationem explicabo id iusto laboriosam magni
                modi
                neque nobis nostrum omnis optio quae quaerat quidem quos recusandae, saepe sint tempora temporibus totam
                vel
                veniam vero, vitae voluptate voluptatem! Ad amet aspernatur at cupiditate dicta dolorem facere facilis
                fuga
                fugiat id iure magni modi natus neque, nulla quae quaerat quo ratione recusandae repellat sint soluta
                sunt
                tempora veniam voluptas. Corporis cupiditate ea est nostrum quibusdam, tempora vero! Ad architecto
                aspernatur dicta, dolor dolore excepturi maxime necessitatibus odit officiis quaerat quia ut velit
                voluptas.
                Commodi culpa debitis deleniti dicta fugiat illum inventore iusto laboriosam magni maxime nesciunt nisi
                nostrum nulla praesentium, quasi quidem quo quos reprehenderit repudiandae sapiente similique velit
                voluptatibus.</p>
        </div>
        <div class="cards-item">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/6D93/production/_105615082_gettyimages-1086747844.jpg"
                 alt="cat">
            <h2>Cat heading</h2>
            <p>Cat description</p>
        </div>
    </div>

    <div class="box">
        <div class="square"></div>
        <div class="square square-red"></div>
        <div class="square square-green"></div>
    </div>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet at autem commodi corporis eligendi fuga ipsam
        quibusdam repudiandae, ut! Asperiores at autem debitis, ea enim esse fugit, possimus provident quas quo
        reiciendis
        repudiandae, sed ut. Aliquid debitis eum, fugit nisi odio possimus sequi. A adipisci debitis deserunt ex
        excepturi
        id optio quas reiciendis rem sint. Accusantium aliquid animi commodi consequuntur cum ducimus eligendi, eum
        excepturi harum inventore ipsam ipsum laborum libero, modi nam nemo nisi, provident quidem ratione repudiandae
        sapiente sed similique sint suscipit tempore ullam veritatis voluptate! Assumenda beatae deserunt dicta,
        doloremque
        excepturi harum libero placeat praesentium quae, ratione sed voluptate. Accusantium aliquid amet aut magni
        molestiae
        praesentium sapiente. Aliquam distinctio facere impedit, itaque necessitatibus non possimus quo voluptatem! A
        delectus distinctio doloribus earum laboriosam omnis provident rerum! Aliquam aperiam, aspernatur assumenda aut
        debitis eligendi esse expedita fuga ipsam iste molestiae mollitia natus necessitatibus nesciunt odio, omnis
        placeat
        possimus quae quasi quos repellat similique, vel voluptate? Aut eaque exercitationem facere facilis id, itaque
        minima nulla placeat quisquam, quo soluta, voluptates voluptatum! Aliquid atque autem commodi consectetur fugit
        necessitatibus provident quis quod reprehenderit unde. Accusantium aliquam aspernatur consectetur dolorum,
        ducimus
        fuga magni quasi. Aliquam autem beatae earum fugit? Eum!</p>

</div>

</body>
</html>