<!DOCTYPE html>
<p lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система управления студентами и их успеваемостью</title>
</head>
<p>

<h1 style="text-align: center">Структура сайта управления студентами и их успеваемостью</h1>

<p>Параграф 1</p>

<hr>

<h2>Изучаемые дисциплины</h2>

<div>Высшая математика</div>
<div>История науки и техники</div>
<div>Политология</div>
<div>Информатика</div>
<div><i>Теория Алгоритмизации</i></div>

<span><a href="https://it.easyum.ru/">easyum.ru</a></span>

<p><span style="font-size: 30px;"> <img src="C:/Users/1/Favorites/Downloads/1.jpg" alt="Учёба" width="147"
                                            height="147"></span></p>

<div><em> На основе этой темы будет разработан сайт </em></div>

<input type="Введите название дисциплины для изучения">

<p style="font-size: 15px">
    Пиво<sup>3 литра</sup> + Водка <sub>Поллитра</sub> = Голова <sup>2</sup></p>

<p><u>Трезвость: условие хорошей работы мозгов</u></p>

<del>Вредные привычки</del>

<p><div align="center"><table width="200" bgcolor="#7fffd4" cellspacing="0" cellpadding="5" border="1" align="center"></table></div></p>
<p><div align="center">Дни понедельник и среда в июле с 08 числа</div></p>
<div align="center"><pre>Понедельник            Среда</pre></div>
<div align="center"><pre>8  15  22  29        10  17  24  31</pre></div>


</body>
</html>