<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Наш первый сайт</title>
</head>
<body>

<h1 style="text-align: center">Заголовок</h1>

<p>Параграф</p>

<hr>

<h2>Второй заголовок</h2>

<div>Блочный элемент</div>
<div>Блочный элемент</div>
<spanc class="text button">Строчный элемент</spanc>
<span style="color: red;">Строчный элемент</span>

<h2>a.chesnokov@easyum.ru</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, natus non numquam praesentium quia rem
    reprehenderit voluptate. Architecto delectus doloribus ipsum laborum reiciendis suscipit totam vero vitae!
    Architecto asperiores autem beatae cum cumque dignissimos dolorem dolores doloribus eligendi fugit hic ipsa itaque
    laborum libero magnam nam officiis quia quidem quis saepe sequi soluta suscipit, tempore! Asperiores commodi culpa,
    debitis itaque labore nisi obcaecati odit possimus quae quia repudiandae sit veniam voluptates. A accusantium animi
    delectus dignissimos dolores ducimus earum eligendi, ex excepturi expedita illo illum laudantium minus mollitia
    necessitatibus officia perferendis possimus provident quam, quia rerum sequi sunt. Doloribus ea expedita laboriosam
    natus odio odit officiis porro possimus repudiandae veritatis. Dolores eos error expedita temporibus! Blanditiis cum
    enim eum numquam, omnis perferendis quae repellat voluptatibus. Animi asperiores consequatur cum doloribus dolorum
    eum eveniet fuga inventore labore minus mollitia natus necessitatibus nisi obcaecati qui quo repellendus, saepe
    temporibus, unde ut veniam voluptatem, voluptatibus voluptatum? Ab animi consequatur corporis, doloribus eius
    eligendi est impedit ipsa itaque modi neque nesciunt officiis praesentium, quis rem tempore, veritatis vitae
    voluptate? Alias autem blanditiis exercitationem expedita laboriosam nam, neque nulla pariatur ratione, sed tempore
    voluptatum? Amet eaque et expedita ipsa, mollitia nesciunt nostrum sapiente soluta vel?</p>

<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur ea facere hic nobis officia
    perferendis porro quam sequi tenetur! Ad, nobis, ut? Aperiam architecto cupiditate debitis deleniti, doloribus eum
    eveniet fugit impedit ipsa ipsam iusto laudantium modi nobis obcaecati provident, quae, tempora velit voluptates? A
    asperiores delectus dicta distinctio, eveniet expedita illo laboriosam libero officiis pariatur quia quibusdam,
    quidem quod tempore, vitae. Consequuntur eius fugiat harum id iste itaque magni placeat sapiente! Ab aliquam aliquid
    doloremque ea eum nesciunt quae repellendus, reprehenderit rerum saepe. A commodi cupiditate et impedit nostrum.
    Commodi consectetur distinctio necessitatibus odio quaerat quia, reiciendis soluta?
</blockquote>

<pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque odit
    possimus quae quas repellendus. Excepturi rem suscipit voluptas voluptatem!</pre>

<strong>Важный жирный текст</strong>
<b>Жирный текст</b>

<em>Курсивный текст</em>

<del>Перечёркнутый текст</del>

<p style="font-size: 30px;">
    X<sup>2</sup> + Z<sub>2</sub> = 0 <span>&copy;</span></p>

<span style="font-size: 30px;">&#9749;</span>

</body>
</html>