<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Catalog page</h1>

<div>
    <a href="../index.html">Link to Index page</a>
</div>


<div>
    <a href="#news">Link to News</a>
</div>

<h2>Article</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci beatae dolor ducimus illum incidunt
    iusto, mollitia porro. Ab accusantium blanditiis consectetur corporis cum eius eligendi eos error et eum explicabo
    facere facilis fugit minima nam neque nesciunt nobis pariatur qui quidem similique sint suscipit totam unde, vitae!
    Architecto at dolor est eveniet hic numquam quae quis? Accusantium aliquam ea est eveniet magni minima nemo,
    nesciunt quam quo unde? At atque cupiditate facere in iure minima non officia praesentium repellat sit. Adipisci
    aspernatur doloremque fugit nostrum odio officia provident sed tempore totam voluptatum! Accusamus atque dolore
    doloribus error illo, modi quam sit soluta tempora temporibus? A accusantium adipisci alias aperiam, corporis
    cupiditate doloremque dolores doloribus, eum excepturi explicabo illum incidunt libero nemo nesciunt nostrum odit
    quisquam totam. Consequatur id nesciunt officiis repellendus sunt! Adipisci aliquid animi, ducimus hic laborum
    molestiae mollitia officiis optio porro quis quos reiciendis repellendus voluptatibus. Commodi expedita illum iusto
    laborum vitae? Deserunt dolorem, doloremque eveniet modi neque, nulla odit officiis quibusdam quo repellat sequi,
    suscipit unde ut. Amet culpa debitis dolore eum labore laudantium minus, nisi optio praesentium, provident
    recusandae reprehenderit unde. At ea eaque eveniet in modi non numquam porro ratione repellendus repudiandae sed
    unde, veritatis? A accusantium aliquam aliquid aperiam assumenda at atque autem blanditiis cupiditate delectus dolor
    enim eveniet expedita fuga hic illum iste itaque laudantium magni nam necessitatibus, omnis provident sequi, ullam
    voluptas voluptate voluptatum. Accusamus aspernatur ea error, illo maxime placeat reprehenderit. Accusantium animi
    fugit illum laboriosam quisquam quo tempore, ut voluptas. Pariatur placeat quod suscipit velit! Accusamus
    consectetur, cupiditate dolor enim eveniet ex explicabo labore minus odit temporibus ut vitae! At enim molestias non
    saepe. Alias aliquid autem cumque delectus dicta doloremque impedit in incidunt ipsa labore laudantium minus
    mollitia nam perferendis praesentium quas ratione reprehenderit tempore, unde velit veritatis, voluptate
    voluptatibus! Animi at dolorem, fugit molestiae nihil, nobis nostrum obcaecati possimus quae quis recusandae
    sapiente! Asperiores commodi consequuntur cumque delectus dicta dolore dolorem doloremque doloribus dolorum, enim
    eveniet facilis fugit, ipsa ipsum itaque iusto labore magnam minus molestiae molestias nemo nulla odit omnis
    perferendis perspiciatis placeat, praesentium quae quaerat quas quasi reprehenderit sapiente sequi sint sunt
    suscipit tempore unde. Cupiditate et eveniet labore nam nihil quos tempora veniam? Accusantium cumque delectus
    distinctio doloremque laboriosam, laudantium quis, recusandae repellat suscipit temporibus tenetur veritatis vero!
    Cumque incidunt laudantium nemo obcaecati odio quis sunt vel vitae. Dolores, impedit ipsa maiores minima odio optio
    quae quisquam! Blanditiis illo itaque odit optio quaerat saepe similique ullam veniam voluptatibus! A harum labore
    magnam quam voluptatibus? Alias architecto assumenda, at cupiditate eveniet in iure laborum natus quia quos sint,
    sit soluta tempora vel voluptate? Accusantium, cum deleniti dolorum hic molestias omnis porro qui sit ut! Ab autem
    consectetur consequatur cumque delectus eaque earum, eius eos expedita harum impedit ipsa iste modi nostrum
    obcaecati officiis perspiciatis quae quaerat quasi quisquam repudiandae sapiente similique sint temporibus ut vero
    voluptates voluptatum. Delectus deserunt distinctio, ea eaque hic impedit incidunt iure modi nisi possimus
    temporibus unde veritatis voluptas. Deleniti dicta, et impedit inventore iste obcaecati omnis perspiciatis quam,
    quas quisquam reiciendis repellendus sint voluptate? A adipisci aperiam aut consequuntur delectus deserunt dicta
    distinctio dolor ducimus est in ipsum labore laudantium minima modi, neque numquam, officiis qui quia quis quisquam
    reiciendis veniam vitae, voluptas voluptates. Dolorum ducimus neque repellendus vero voluptatem. Accusamus aperiam
    beatae dolorem dolores, ducimus eos hic illum ipsa iusto laborum modi mollitia natus pariatur possimus qui
    reiciendis saepe sint ullam velit voluptatem. Aliquam cupiditate dolor, expedita molestiae odio odit vitae! Animi
    autem expedita omnis sunt vitae! Esse exercitationem id inventore iusto nemo similique ut voluptate. Animi
    asperiores aspernatur culpa cum doloremque doloribus eum eveniet expedita itaque iusto maxime mollitia nam, natus
    necessitatibus, non numquam perspiciatis sint soluta tenetur voluptas? Adipisci beatae consectetur deserunt,
    doloribus dolorum ducimus eius harum incidunt ipsa ipsum nihil pariatur, placeat quibusdam quidem quos veritatis
    voluptate voluptatibus. Beatae impedit, iure libero quibusdam reiciendis rem reprehenderit! Ab accusamus beatae
    culpa distinctio dolorum eaque facilis illum incidunt iste labore maxime minima minus, natus sed sequi voluptate
    voluptatem voluptatibus. Ab accusamus culpa, distinctio ea nesciunt numquam qui quisquam ratione reiciendis saepe.
    Accusamus dicta doloremque est fuga magnam minima nihil praesentium quo soluta voluptatum? A accusantium incidunt
    repudiandae sequi similique! A atque aut autem commodi, delectus dignissimos dolore, eaque eum ex facere facilis
    fuga fugit iste itaque iusto laborum maxime, necessitatibus nesciunt nobis perferendis quaerat quisquam quo quod
    reiciendis saepe sapiente sint sit tenetur totam voluptatem. Assumenda consequatur delectus distinctio est, expedita
    illo in nobis nostrum odit praesentium quo ratione tempore veniam veritatis, voluptas. A ab ad animi commodi
    corporis dignissimos dolore doloremque eius eos et facere facilis fugit id incidunt laboriosam maiores nihil nulla
    odio officiis quisquam quo rem reprehenderit suscipit tempore, vel? Aliquid at beatae cumque dicta dolores, eligendi
    error est facere fugit hic iste itaque iusto libero, maiores natus neque pariatur, quia quibusdam sit soluta tempora
    temporibus ullam velit veritatis voluptas. Aliquid atque consequuntur dolorum ducimus facilis ipsa iusto minima
    nesciunt nulla odio odit possimus quasi quod, repellat sapiente sed voluptates voluptatibus? Ad at consequuntur
    ducimus eius in, laboriosam, molestiae, molestias numquam reiciendis ut vel veniam? Aliquam animi architecto
    aspernatur consectetur consequatur, delectus dicta expedita facilis fuga fugit illum ipsum iure maxime nihil
    quisquam quo quos saepe soluta ullam voluptatem? Accusamus asperiores cupiditate eos error fuga itaque laudantium,
    molestiae natus nihil nobis, non officiis provident quibusdam tempora voluptatem? Accusantium, animi aut commodi
    dolorum error, expedita facere itaque iusto molestias pariatur praesentium repellendus, voluptatum. Ab ad, dolore
    earum in laboriosam modi provident sequi veritatis! Accusamus magni modi, molestiae nesciunt perspiciatis quae
    vitae? Beatae consequuntur cum deleniti, dignissimos doloribus eligendi error est, exercitationem laboriosam laborum
    mollitia nostrum quisquam reprehenderit saepe temporibus, vel veniam! Commodi delectus, dignissimos earum enim, eos
    harum neque quibusdam quidem quisquam ratione repellat sed sequi soluta tempore unde veritatis voluptatibus. A
    beatae debitis eaque eius exercitationem fugiat, magni natus perspiciatis, quibusdam quo quos ratione rerum soluta
    velit voluptatum. Ad minima natus ullam? Ad aspernatur autem debitis delectus enim excepturi fugit numquam quaerat
    quos voluptas?</p>

<h2 id="news">News</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto consequatur esse ex hic inventore iure,
    nemo optio perferendis quia quibusdam repellat tempora. Accusantium beatae blanditiis commodi corporis cumque
    dolorum error et excepturi facilis ipsam laudantium molestiae molestias nemo non nulla optio qui quo sequi sunt
    tempora tenetur, voluptate voluptatem voluptatibus. Accusamus alias aliquid aspernatur, at cumque dolore est eum
    exercitationem ipsum iure magnam maiores minima modi, nostrum numquam officiis perferendis placeat porro quibusdam
    quisquam quod quos repellat, soluta temporibus voluptatum. Aliquid architecto aspernatur dignissimos dolor saepe vel
    vitae? Cumque cupiditate, doloremque, eius eligendi expedita facere harum ipsa laudantium libero molestiae,
    necessitatibus non provident quia temporibus veniam vero voluptate. Aliquid autem consectetur cumque dolor dolores
    earum facere, fugit laboriosam laudantium, modi, nam quibusdam quidem quos sapiente sed voluptates voluptatum! Dolor
    dolorum obcaecati officiis pariatur quidem similique? Alias assumenda cumque dolorem dolores dolorum eos excepturi
    explicabo, ipsa ipsum laboriosam non, perferendis, perspiciatis quos temporibus ut voluptas voluptates? Assumenda,
    deserunt doloremque facere fugit, laboriosam magni neque quam quia quidem quis quod voluptatibus voluptatum. Ab
    accusamus assumenda ducimus eveniet explicabo pariatur recusandae sapiente voluptatibus? Animi debitis dolore
    dolorum ea esse eveniet excepturi facilis, ipsam modi, molestiae odit officia possimus provident sunt tempora?
    Accusamus ad alias aliquid atque autem dignissimos distinctio doloremque enim esse fuga ipsam iste, laborum nesciunt
    nihil nisi nostrum officia quas qui quidem quo quos repellendus saepe sit. Alias aperiam autem corporis error harum
    obcaecati, perferendis voluptate. Dolorem minima, molestias. Ab ad aperiam atque autem, consequatur dignissimos
    distinctio dolore dolorem ducimus ex fugiat id iste laudantium maiores, modi nemo neque nostrum quaerat quo rem
    repellat saepe tempore ullam vero voluptates voluptatibus voluptatum. Alias aliquid atque beatae, cum ea earum error
    est ex explicabo in inventore itaque, laboriosam laborum libero molestias nemo neque nulla reiciendis repudiandae
    sint suscipit tempora temporibus ut voluptate voluptates! Ab alias assumenda aut deserunt laudantium obcaecati
    repellat reprehenderit repudiandae rerum voluptatibus. Blanditiis dignissimos iusto officiis. A dignissimos facere
    hic illum ipsa, perspiciatis quia similique sunt voluptate voluptatibus? Aperiam aut consequuntur eaque earum, iste,
    nihil nostrum numquam odio quas repellat reprehenderit, repudiandae sed sint vel voluptatem! Accusamus aspernatur
    consequatur consequuntur deserunt excepturi iste labore pariatur voluptatem. Accusantium autem enim facere
    laboriosam obcaecati odio repellendus veniam! Cumque dicta, minus nisi recusandae unde velit. Ab accusamus, alias
    aliquam asperiores aut commodi debitis dignissimos distinctio esse est eveniet explicabo fugiat hic iure magni minus
    natus nesciunt nobis non nostrum obcaecati officia officiis omnis porro quia quisquam recusandae sed suscipit
    tenetur ullam. Ad aliquid consequatur corporis delectus earum eos error, est fugit harum illo impedit nam nemo nihil
    quos repellat temporibus vel veritatis voluptatem. Ad, adipisci aspernatur debitis distinctio, esse est eveniet ex
    exercitationem expedita fuga ipsa libero maiores minus pariatur perspiciatis praesentium provident qui rem repellat
    repudiandae temporibus tenetur totam vel velit veritatis. Adipisci beatae, dolorem in odio optio repellat sunt
    voluptates. Accusamus aliquid assumenda distinctio, dolor eum excepturi itaque iusto, molestias odit porro, quod
    velit vero. Hic itaque maxime nisi obcaecati quos ratione rerum suscipit. Deserunt distinctio earum eveniet quos
    voluptate? Ab aliquam amet atque, autem beatae cumque dolore error excepturi facere fugit nam necessitatibus
    nesciunt qui quibusdam, rem repudiandae sunt. Aut cumque ducimus minima provident voluptas. Adipisci alias, delectus
    earum harum hic iure labore laboriosam necessitatibus nemo nesciunt nihil non perferendis, quas qui quidem quod
    repellat soluta ut. Architecto aut beatae blanditiis cupiditate dolor dolores eaque enim error expedita incidunt
    ipsa labore laboriosam modi placeat, quo reiciendis repellat repellendus temporibus velit voluptatum? Ad, alias
    blanditiis delectus dignissimos dolor, dolorem excepturi ipsam ipsum maxime nemo nesciunt provident qui tempora
    ullam unde veritatis vero voluptatum. Aliquam distinctio earum minus natus obcaecati reprehenderit tempora
    voluptatum. Alias, at corporis cupiditate deleniti deserunt dignissimos dolorum ducimus eaque earum eos error ex
    expedita ipsum magnam molestiae molestias nemo nulla odit quisquam recusandae repudiandae rerum saepe soluta ut
    vitae voluptate voluptates. Commodi consectetur magnam ratione? Accusamus ducimus iusto qui repellendus. Accusamus,
    cum, quod. At, dolor eos et laborum laudantium nobis numquam odio officia provident quaerat quam quo soluta vel
    veniam voluptatum. Accusamus aperiam beatae blanditiis consequatur cumque cupiditate distinctio dolor dolore eius
    eos est expedita fugit illum impedit, itaque laborum magni minus nostrum perspiciatis placeat porro possimus, quis
    reprehenderit rerum sed tempore totam ut veritatis voluptas voluptates! Accusantium, architecto atque beatae dicta
    excepturi fugiat id illum inventore iste iusto labore magnam magni minima nisi obcaecati praesentium provident, quam
    recusandae, sapiente voluptatibus! Explicabo maxime minima minus nihil nulla placeat quas quidem sed velit,
    voluptas. Architecto doloribus, vel! Accusantium adipisci beatae consequatur dicta distinctio est illo inventore
    iusto laboriosam, magni modi nam nesciunt nulla quaerat qui quis recusandae reiciendis reprehenderit saepe sequi
    similique sunt tempora! Asperiores beatae consectetur deleniti deserunt dignissimos ducimus excepturi facilis fugit
    nemo nesciunt nobis non numquam odit, porro, quam quia quibusdam quidem quod suscipit, temporibus unde velit veniam?
    Autem dolor, earum enim fugiat impedit ipsa laborum magnam magni nesciunt optio praesentium repudiandae tenetur
    veritatis! Ad doloremque eius error minus molestias natus nulla odio provident repellendus totam? Excepturi,
    mollitia voluptatem. Iure quia vero voluptatum. Aliquam aut corporis cupiditate eligendi ex excepturi harum ipsa
    nemo officia quia, sit, voluptate voluptatibus! Accusamus assumenda at cupiditate doloremque eius eum facere fugit
    harum incidunt labore magnam nobis, odit quia quo quod ratione saepe unde ut voluptatem voluptates. Beatae cum eaque
    eum mollitia necessitatibus nobis provident quis. Aliquam assumenda blanditiis commodi corporis deleniti
    exercitationem explicabo id in inventore, nemo officia perspiciatis quis, quod recusandae repellat rerum saepe sequi
    similique sint voluptas. Autem consequuntur cupiditate ducimus eius eveniet harum hic natus nesciunt quam, quis quo,
    sapiente sit, sunt vitae voluptatem. atalog.html#newsAccusamus architecto delectus officia porro quas voluptate voluptatibus.
    Accusamus, aperiam consequatur cumque cupiditate dicta doloremque eligendi, eum fuga harum ipsa ipsam labore,
    laudantium molestiae nihil nobis nostrum officiis perferendis perspiciatis repellendus similique sit temporibus ut
    voluptatem. A assumenda dolor, eius maiores nam officia! A at beatae debitis incidunt iure nam officia repellat
    totam ut voluptatum! Aliquid at autem, blanditiis culpa hic officia porro qui quidem quos, sed, similique tempora
    unde. Ad, corporis eaque facere itaque modi non quas tempora tenetur veritatis vero.</p>


</body>
</html>