<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div>div</div>
<div>div</div>
<div class="text-bold">div</div>
<div>div</div>
<div>div</div>
<div class="text-bold">Русский</div>
<div>Русский</div>
<div>div</div>
<div>div</div>

<h1>Heading Heading</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aut consequuntur culpa cum dolor ducimus
    enim explicabo fuga fugiat magni neque numquam odio perspiciatis quia repellat rerum, sint sit.</p>

<div class="box"></div>

</body>
</html>