<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        /*p {*/
        /*    color: red;*/
        /*}*/
    </style>

    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<h1>Index page</h1>

<div>
    <a href="https://webref.ru/" target="_blank">Link to WebRef</a>
</div>

<div>
    <a href="catalog/catalog.html">Link to Catalog page</a>
</div>

<div>
    <a href="catalog/catalog.html#news">Link to News</a>
</div>

<div>
    <a href="mailto:test@easyum.ru">test@easyum.ru</a>
</div>

<div>
    <a href="tel:+79999999999">+7 999 999 99 99</a>
</div>

<a href="https://webref.ru/">
    <img src="http://www.chaskor.ru/posts_images_201509/392_300_39210_black-cat-375866_64.jpg" alt="Киса" width="400">
</a>

<p style="color: red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum
    exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?
    <span>SPAN TEXT
        <strong class="text";>STRONG TEXT</strong>
    </span>
    <span style="font-size: 1.5em;">TEXT
        <span style="font-size: 1.5em;">TEXT
             <span style="font-size: 1.5em;">TEXT</span>
        </span>
    </span>

    <span style="font-size: 1.5rem;">TEXT
        <span style="font-size: 1.5rem;">TEXT
             <span style="font-size: 1.5rem;">TEXT</span>
        </span>
    </span>
</p>

<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum
    exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum
    exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>
<p ID="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis, distinctio eum
    exercitationem
    facere facilis, id, itaque laboriosam magni neque nulla praesentium recusandae ut voluptatum? Alias autem quas
    vel?</p>

<div class="box">fsdfgsdfsgfdh</div>


<h2>Heading</h2>

<h2 class="text text-aqua">Heading
    <span>Heading SPAN</span>
</h2>

<h2>Heading
    <span>Heading SPAN</span>
    <em class="text">EM text</em>
</h2>

</body>
</html>